@import '_website_style';

//--------------------------------------------------------------
//# Drop Down Menu (Drop down menu Style CSS)
//--------------------------------------------------------------
@mixin dropDownMenuStyleCSS {
    .dropdown {
        list-style: none;
        position: relative;
        background: var(--font-color-2, $fontColor02);
        border-radius: 3px;
        width: 300px;
        max-width: 100%;
        min-width: 100%;
        height: 40px;
        cursor: pointer;
        margin: 0;
        padding: 0;
        border: 1px solid var(--font-color-1, $fontColor01);

        & > #id_DropDownMenuSelectButton {
            color: var(--font-color-1, $fontColor01);
            padding: 10px 0px;
            padding-left: 15px;
            list-style-position: inside;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 22px;

            &:hover, &:focus, &:active {
                background: var(--background-color-4, $bgColor04);
                color: var(--font-color-2, $fontColor02);
            }
        }
        
        & > #id_DropDownMenuSelectButton:hover + .dropdownmenu_arrow, 
        & > #id_DropDownMenuSelectButton:focus + .dropdownmenu_arrow,
        & > #id_DropDownMenuSelectButton:active + .dropdownmenu_arrow {
            fill: var(--font-color-2, $fontColor02);
        }
      
        & > .dropdownmenu_arrow {
            position: absolute;
            right: 10px;
            top: 50%;
            transition: transform .2s linear;
        }

        & > .dropdownmenu_arrow.expanded {
            transform: rotate(-180deg);
        }

        & > .dropdownmenu_listcontainer {
            position: relative;

            & > .dropdownmenu_list {
                width: 100%;
                position: absolute;
                left: 0;
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                //box-shadow: 0px 3px 2px 0 #a2a4b2;
                transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9), max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
                max-height: 0;
                overflow: hidden;
                opacity: 0;
                list-style: none;
                margin: 0;
                padding: 0;
                background: var(--font-color-2, $fontColor02);
                border: 1px solid var(--font-color-2, $fontColor02);

                & > .dropdownmenu_listitem {
                    color: var(--font-color-1, $fontColor01);
                    padding: 15px 0px;
                    padding-left: 15px;
                    transition: background-color .1s linear, color .1s linear;
                    list-style-position: inside;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover, &:focus, &:active {
                        background-color: var(--background-color-5, $bgColor05);
                        color: var(--font-color-1, $fontColor01);
                    }
                }
            }
        }
    }

    .dropdownmenuwrapper {
        margin-bottom: #{$margin + .5rem};
    }
      
    .open {
        opacity: 1 !important;
        overflow: auto !important;
        max-height: 15rem !important;
    }
}

// 769 - 1024
@mixin dropDownMenuStyleCSS_1024 {
    .open {
        max-height: 12rem !important;
    }
}

//--------------------------------------------------------------
//# All Case Studies (All Case studies Style CSS)
//--------------------------------------------------------------
@mixin portfolioCaseStudyStyleCSS {
    .portfoliocasestudy_wrapper {
        & > #id_SubSections {
            height: auto;
            margin: 0 auto;
            padding: 0;

            // Applies to all articles except the first
            & > article:not(:first-of-type) > .linkwrapper {
                width: 800px;
                max-width: 800px;
                min-width: 800px;
                margin: 0 auto;
                padding: 0 var(--padding, $padding);
            }

            // Applies to all odd articles except the first one, basically starting on second but is considered as first
            & > article:not(:first-of-type):nth-of-type(odd) {
                background: var(--font-color2, $fontColor02);
            }

            // Title Area
            & > .titleareasubsection {
                & > .linkwrapper {
                    display: flex;
                    flex-direction: column-reverse;

                    & > div {
                        width: 800px;
                        max-width: 800px;
                        min-width: 800px;
                        margin: 0 auto;
                        padding: var(--padding, $padding) var(--padding, $padding) 0 var(--padding, $padding);
                        display: flex;
                        flex-direction: column-reverse;

                        & > .breadcrumb_desktop_wrapper,
                        & > .breadcrumb_tabletmobile_wrapper {
                            & > .breadcrumb {
                                color: var(--font-color1, $fontColor01);
                                text-decoration: none;
                                border-bottom-width: 1px;
                                border-bottom-style: solid;
                                border-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
                                border-image: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
                                border-image: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
                                border-image: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
                                border-image: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
                                border-image-slice: 1;
                            }
                        }

                        & > .breadcrumb_tabletmobile_wrapper {
                            display: none;
                            visibility: hidden;
                        }
                    }

                    & > img {
                        width: 100vw;
                        max-width: 100vw;
                        min-width: 100vw;
                        object-fit: cover;
                        //height: auto;

                        height: 325px; // don't need this later
                        background: rgb(0, 174, 255); // don't need this later
                    }
                }
            }

            // Basic Info Area
            & > .basicsubsection {
                & .basicinfo {
                    & > div {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-content: flex-start;
                        border-bottom: 1px solid var(--font-color-4, $fontColor04);

                        & > p:first-of-type {
                            width: 30%;
                            min-width: 30%;
                            max-width: 30%;
                            padding-right: var(--padding, $padding);
                        }

                        & > p:nth-of-type(2) {
                            flex-grow: 2;
                        }
                    }
                }
            }

            // Main Sub Section Area
            & > .mainsubsection {
                & > .linkwrapper {
                    & > section {
                        & ol {
                            padding-left: 22px;
                        }

                        & figure {
                            width: 100%;
                            max-width: 100%;
                            min-width: 100%;
                            margin: var(--margin, $margin) 0;
                            height: auto;
                                          
                            & img {
                                display: block;
                                border-radius: 3px;
                                border: 1px solid var(--font-color-1, $fontColor01);
                                //box-shadow: 1px 1px 3px 1px #5d5d5d;
                                //-moz-box-shadow: 1px 1px 3px 1px #5d5d5d;
                                //-webkit-box-shadow: 1px 1px 3px 1px #5d5d5d;
                                //object-fit: cover;

                                height: 450px; // don't need this later
                                //background: rgb(0, 174, 255); // don't need this later
                            }                
                        }
                    }

                    & > section:last-of-type {
                        padding-bottom: #{$padding + .25rem};
                    }
                }
            }

            // Different Components of the Case study Area
            & > .componentsection {
                & > .linkwrapper {

                    // Applies to All sections within component section
                    & > section {
                        & > div {
                            & p:first-of-type {
                                margin-top: #{$margin / 6};
                            }
                        }

                        & > figure {
                            width: 100%;
                            max-width: 100%;
                            min-width: 100%;
                            margin: var(--margin, $margin) 0;
                            height: auto;
                                          
                            & img {
                                display: block;
                                border-radius: 3px;
                                border: 1px solid var(--font-color-1, $fontColor01);
                                //box-shadow: 1px 1px 3px 1px #5d5d5d;
                                //-moz-box-shadow: 1px 1px 3px 1px #5d5d5d;
                                //-webkit-box-shadow: 1px 1px 3px 1px #5d5d5d;
                                //object-fit: cover;

                                height: 400px; // don't need this later
                                //background: rgb(0, 174, 255); // don't need this later
                            }                
                        }
                    }

                    // Sections that are split into 2 columns
                    & .splitcolumnsection {
                        display: flex;
                        justify-content: space-between;
                        align-content: flex-start;

                        & > header {
                            width: 30%;
                            min-width: 30%;
                            max-width: 30%;
                            padding-right: var(--padding, $padding);
                        }

                        & > div {
                            flex-grow: 2;
                            width: 70%;
                            min-width: 70%;
                            max-width: 70%;
                        }
                    }
                }
            }

            // Bottom view more cases section area
            & > .viewmorecases {
                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: var(--font-color-1, $fontColor01);
                text-align: center;
                padding: #{$padding * 3} var(--padding, $padding);

                & > .linkwrapper {
                    & > div:last-of-type {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        width: 500px;
                        margin: 0 auto;

                        & > .casestudybutton {
                            text-decoration: none;
                            color: var(--font-color-1, $fontColor01);
                            padding: #{$padding / 3} #{$padding / 3} #{$padding / 2.5} #{$padding / 3};
                            border: 1px solid var(--font-color1, $fontColor01);
                            width: 225px;
                            max-width: 225px;
                            min-width: 225px;
                            border-radius: 3px;
                            background: var(--font-color-2, $fontColor02);

                            &:hover, &:focus, &:active {
                                background: var(--background-color-4, $bgColor04);
                                color: var(--font-color-2, $fontColor02);
                            }
                        }

                    }
                }
            }

        }
    }

    .mathology_wrapper {
        & > #id_SubSections {
            & > .viewmorecases {
                background: var(--background-color-1, $bgColor01) !important;
            }
        }
    }
}

// 769 - 1024
@mixin portfolioCaseStudyStyleCSS_1024 {
    .portfoliocasestudy_wrapper {
        & > #id_SubSections {
            // Applies to all articles except the first
            & > article:not(:first-of-type) > .linkwrapper {
                width: 600px;
                max-width: 600px;
                min-width: 600px;
            }

            // Title Area
            & > .titleareasubsection {
                & > .linkwrapper {
                    & > div {
                        width: 600px;
                        max-width: 600px;
                        min-width: 600px;

                        & > .breadcrumb_desktop_wrapper {
                            display: none;
                            visibility: hidden;
                        }

                        & > .breadcrumb_tabletmobile_wrapper {
                            display: block;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

// < 768
@mixin portfolioCaseStudyStyleCSS_768 {
    .portfoliocasestudy_wrapper {
        & > #id_SubSections {
            // Applies to all articles except the first
            & > article:not(:first-of-type) > .linkwrapper {
                width: calc(100% - #{$padding}) !important;
                max-width: calc(100% - #{$padding}) !important;
                min-width: calc(100% - #{$padding}) !important;
            }

            // Title Area
            & > .titleareasubsection {
                & > .linkwrapper {
                    & > div {
                        width: calc(100% - #{$padding}) !important;
                        max-width: calc(100% - #{$padding}) !important;
                        min-width: calc(100% - #{$padding}) !important;

                        & > .breadcrumb_tabletmobile_wrapper {
                            display: flex;
                            flex-wrap: nowrap;

                            & > .breadcrumb {
                                margin: 0 6px;
                                padding-bottom: #{$padding / 3};
                            }

                            & > .breadcrumb:nth-of-type(2) {
                                flex-shrink: 2;
                            }
                        }
                    }
                }
            }

            // Basic Info Area
            & > .basicsubsection {
                & .basicinfo {
                    & > div {
                        flex-wrap: wrap;

                        & > p:first-of-type {
                            width: 100%;
                            min-width: 100%;
                            max-width: 100%;
                        }

                        & > p:nth-of-type(2) {
                            margin-top: 0;
                        }
                    }
                }
            }

            // Main Sub Section Area
            & > .mainsubsection {
                & > .linkwrapper {
                    & > section {
                        & figure {                          
                            & img {
                                object-fit: contain;
                                height: auto;
                            }
                        }
                    }
                }
            }

            // Different Components of the Case study Area
            & > .componentsection {
                & > .linkwrapper {
                    // Applies to All sections within component section
                    & > section {
                        & > div {
                            & .heading4 {
                                margin-bottom: var(--margin, $margin);
                            }

                            & p:first-of-type {
                                margin-top: 0;
                            }
                            
                        }

                        & figure {
                            & img {
                                object-fit: contain;
                                height: auto;
                            }                
                        }

                        & .imagesplitcolumn {
                            & > .splitimage {
                                width: 100%;
                                max-width: 100%;
                                min-width: 100%;            
                            }
                        }
                    }

                    // Sections that are split into 2 columns
                    & .splitcolumnsection {
                        display: block;

                        & > header, & > div {
                            width: 100%;
                            min-width: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }

            // Bottom view more cases section area
            & > .viewmorecases {
                & > .linkwrapper {
                    & > div:last-of-type {
                        flex-direction: column;
                        width: 100%;
                        align-items: center;

                        & > .casestudybutton:last-of-type {
                            margin: var(--margin, $margin) 0;
                        }
                    }
                }
            }
        }
    }
}