@import '_website_style';

//--------------------------------------------------------------
//# All Design (All Design Portfolio Style CSS)
//--------------------------------------------------------------
@mixin portfolioDesignStyleCSS {
    .portfoliodesign_wrapper {
        & > #id_SubSections {
            height: auto;
            margin: 0 auto;
            padding: 0;

            // Applies to all articles
            & > article > .linkwrapper {
                width: 800px;
                max-width: 800px;
                min-width: 800px;
                margin: 0 auto;
                padding: 0 var(--padding, $padding);
            }

            // Applies to all odd articles except the first one, basically starting on second but is considered as first
            & > article:not(:first-of-type):nth-of-type(odd) {
                background: var(--font-color2, $fontColor02);
            }

            // Title Area
            & > .titleareasubsection {
                padding-top: var(--padding, $padding);
                
                & > .linkwrapper {
                    & > div {
                        display: flex;
                        flex-direction: column-reverse;

                        & > .breadcrumb_desktop_wrapper,
                        & > .breadcrumb_tabletmobile_wrapper {
                            & > .breadcrumb {
                                color: var(--font-color1, $fontColor01);
                                text-decoration: none;
                                border-bottom-width: 1px;
                                border-bottom-style: solid;
                                border-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
                                border-image: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
                                border-image: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
                                border-image: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
                                border-image: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
                                border-image-slice: 1;
                            }
                        }

                        & > .breadcrumb_tabletmobile_wrapper {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }

            // Basic Info Area
            & > .basicsubsection {
                & > .linkwrapper {
                    padding-bottom: #{$padding + .5rem};

                    & > .basicinfo {
                        & > div {
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            align-content: flex-start;
                            border-bottom: 1px solid var(--font-color-4, $fontColor04);
    
                            & > p:first-of-type {
                                width: 30%;
                                min-width: 30%;
                                max-width: 30%;
                                padding-right: var(--padding, $padding);
                            }
    
                            & > p:nth-of-type(2) {
                                flex-grow: 2;
                            }
                        }
                    }
                }
            }

            // Main Sub Section Area
            & > .mainsubsection {
                & > .linkwrapper {
                    padding-top: #{$padding / 3};

                    & .breadcrumb {
                        color: var(--font-color1, $fontColor01);
                        text-decoration: none;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        border-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                        border-image: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                        border-image: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                        border-image: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                        border-image: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                        border-image-slice: 1;
                    }

                    & figure {
                        width: 100%;
                        max-width: 100%;
                        min-width: 100%;
                        margin: var(--margin, $margin) 0;
                        height: auto;
                                      
                        & img {
                            display: block;
                            border-radius: 3px;
                            box-shadow: 1px 1px 3px 1px #5d5d5d;
                            -moz-box-shadow: 1px 1px 3px 1px #5d5d5d;
                            -webkit-box-shadow: 1px 1px 3px 1px #5d5d5d;
                            //object-fit: cover;

                            height: 400px; // don't need this later
                            background: rgb(255, 217, 4); // don't need this later
                        }
                        
                        & figcaption {
                            line-height: 0.5rem;
                        }
                    }
                }
            }

            // Bottom view more cases section area
            & > .viewmorecases {
                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: var(--font-color-1, $fontColor01);
                text-align: center;
                padding: #{$padding * 3} var(--padding, $padding);

                & > .linkwrapper {
                    & > div:last-of-type {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        width: 500px;
                        margin: 0 auto;

                        & > .designbutton {
                            text-decoration: none;
                            color: var(--font-color-1, $fontColor01);
                            padding: #{$padding / 3} #{$padding / 3} #{$padding / 2.5} #{$padding / 3};
                            border: 1px solid var(--font-color1, $fontColor01);
                            width: 225px;
                            max-width: 225px;
                            min-width: 225px;
                            border-radius: 3px;
                            background: var(--font-color-2, $fontColor02);

                            &:hover, &:focus, &:active {
                                background: var(--background-color-4, $bgColor04);
                                color: var(--font-color-2, $fontColor02);
                            }
                        }

                    }
                }
            }
        }
    }
}

// 769 - 1024
@mixin portfolioDesignStyleCSS_1024 {
    .portfoliodesign_wrapper {
        & > #id_SubSections {
            // Applies to all articles
            & > article > .linkwrapper {
                width: 600px;
                max-width: 600px;
                min-width: 600px;
            }

            // Title Area
            & > .titleareasubsection {
                & > .linkwrapper {
                    & > div {
                        & > .breadcrumb_desktop_wrapper {
                            display: none;
                            visibility: hidden;
                        }

                        & > .breadcrumb_tabletmobile_wrapper {
                            display: block;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

// < 768
@mixin portfolioDesignStyleCSS_768 {
    .portfoliodesign_wrapper {
        & > #id_SubSections {
            // Applies to all articles
            & > article > .linkwrapper {
                width: calc(100% - #{$padding}) !important;
                max-width: calc(100% - #{$padding}) !important;
                min-width: calc(100% - #{$padding}) !important;
            }

            // Title Area
            & > .titleareasubsection {
                & > .linkwrapper {
                    & > div {
                        & > .breadcrumb_tabletmobile_wrapper {
                            display: flex;
                            flex-wrap: nowrap;

                            & > .breadcrumb {
                                margin: 0 6px;
                                padding-bottom: #{$padding / 3};
                            }

                            & > .breadcrumb:nth-of-type(2) {
                                flex-shrink: 2;
                                height: 1.7rem;
                            }
                        }
                    }
                }
            }

            // Basic Info Area
            & > .basicsubsection {
                & > .linkwrapper {
                    & > .basicinfo {
                        & > div {
                            flex-wrap: wrap;
    
                            & > p:first-of-type {
                                width: 100%;
                                min-width: 100%;
                                max-width: 100%;
                            }
    
                            & > p:nth-of-type(2) {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }

            // Bottom view more cases section area
            & > .viewmorecases {
                & > .linkwrapper {
                    & > div:last-of-type {
                        flex-direction: column;
                        width: 100%;
                        align-items: center;

                        & > .designbutton:last-of-type {
                            margin: var(--margin, $margin) 0;
                        }
                    }
                }
            }
        }
    }
}