//*** Scss Variables ***//

// Font Colors
$fontColor01: #000;
$fontColor02: #FFF;
$fontColor03: #AFAFAF;
$fontColor04: #959595;
$fontColor05: #6E6E6E;

// Background Colors;
$bgColor01: #f5f5f5;
$bgColor02: #fb8500;
$bgColor03: #ffb703;
$bgColor04: #023047;
$bgColor05: #219ebc;
$bgColor06: #8ecae6;
$bgColor07: #ffff00;
$bgTransparent: rgba(255, 255, 255, 0.2);

// Font Sizes and Line Heights and Letter Spacimg
$pFontSize: 0.9rem;
$pLineHeight: 1.25rem;
$pLetterSpacing: 0.025rem;

$pCopyRightFontSize: 0.75rem;

$pHomeMainTextFontSize: 1.5rem;
$pHomeMainTextLineHeight: 1.75rem;
$pHomeMainTextFontSize_1280: 1.25rem;
$pHomeMainTextLineHeight_1280: 1.5rem;
$pHomeMainTextFontSize_1024: 1rem;
$pHomeMainTextLineHeight_1024: 1.25rem;

$heading01FontSize: 2rem;
$heading01LineHeight: 2.5rem;
$heading01LetterSpacing: 0.15rem;
$heading01FontSize_1024: 1.5rem;
$heading01LineHeight_1024: 1.75rem;

$heading02FontSize: 1.5rem;
$heading02LineHeight: 1.75rem;
$heading02LetterSpacing: 0.1rem;
$heading02FontSize_1024: 1.25rem;
$heading02LineHeight_1024: 1.5rem;

$heading03FontSize: 1.25rem;
$heading03LineHeight: 1.5rem;
$heading03LetterSpacing: 0.1rem;

$heading04FontSize: 2.5rem;
$heading04LineHeight: 2.75rem;
$heading04LetterSpacing: -0.005rem;
$heading04FontSize_1024: 1.75rem;
$heading04LineHeight_1024: 2rem;

// Font Weights
$fontWeightNormal: 300;
$fontWeightSemiBold: 400;
$fontWeightBold: 600;

// Font Style
$fontStyleItalic: italic;

// Margins / Paddings
$margin: 1.5rem;
$padding: 1.5rem;

// Function container to hold CSS variables
@mixin rootCSSVariables {
    --font-color-1: #{$fontColor01};
    --font-color-2: #{$fontColor02};
    --font-color-3: #{$fontColor03};
    --font-color-4: #{$fontColor04};
    --font-color-5: #{$fontColor05};

    --background-color-1: #{$bgColor01};
    --background-color-2: #{$bgColor02};
    --background-color-3: #{$bgColor03};
    --background-color-4: #{$bgColor04};
    --background-color-5: #{$bgColor05};
    --background-color-6: #{$bgColor06};
    --background-color-7: #{$bgColor07};
    --background-transparent: #{$bgTransparent};

    --font-size-p: #{$pFontSize};
    --font-lineheight-p: #{$pLineHeight};
    --font-letterspacing-p: #{$pLetterSpacing};
    
    --font-size-copyright: #{$pCopyRightFontSize};

    --font-size-homemaintext: #{$pHomeMainTextFontSize};
    --font-lineheight-homemaintext: #{$pHomeMainTextLineHeight};
    --font-size-homemaintext-1280: #{$pHomeMainTextFontSize_1280};
    --font-lineheight-homemaintext-1280: #{$pHomeMainTextLineHeight_1280};

    --font-size-h1: #{$heading01FontSize};
    --font-lineheight-h1: #{$heading01LineHeight};
    --font-letterspacing-h1: #{$heading01LetterSpacing};
    --font-size-h1-1024: #{$heading01FontSize_1024};
    --font-lineheight-h1-1024: #{$heading01LineHeight_1024};
    
    --font-size-h2: #{$heading02FontSize};
    --font-lineheight-h2: #{$heading02LineHeight};
    --font-letterspacing-h2: #{$heading02LetterSpacing};
    --font-size-h2-1024: #{$heading02FontSize_1024};
    --font-lineheight-h2-1024: #{$heading02LineHeight_1024};

    --font-size-h3: #{$heading03FontSize};
    --font-lineheight-h3: #{$heading03LineHeight};
    --font-letterspacing-h3: #{$heading03LetterSpacing};

    --font-size-h4: #{$heading04FontSize};
    --font-lineheight-h4: #{$heading04LineHeight};
    --font-letterspacing-h4: #{$heading04LetterSpacing};
    --font-size-h4-1024: #{$heading04FontSize_1024};
    --font-lineheight-h4-1024: #{$heading04LineHeight_1024};

    --font-weight-normal: #{$fontWeightNormal};
    --font-weight-semibold: #{$fontWeightSemiBold};
    --font-weight-bold: #{$fontWeightBold};

    --font-style-italic: #{$fontStyleItalic};

    --margin: #{$margin};
    --padding: #{$padding};
}