@media only screen and (max-width: 640px) {
    .text-vertical-left .title-header {
        font-size: 3.0em;
    }
}

.popover {
    z-index: 9999;
    position: static;
    left: 50px;
    top: 50px;
    
}
/*
.popover {
    font-size: 14pt;
    width: 350px;
    height: 200px;
    z-index: 9999;
    position: fixed;
    background: rgba(240, 173, 78, 1.0);
}

.popover.right .arrow:after {
    border-right-color: rgba(240, 173, 78, 1.0);
}*/

.title-header {
    color: #FFFFFF;
}

.title-subtext {
    color: rgb(232, 232, 232);
    line-height: 35px;
}