@media only screen and (max-width: 640px) {
    .text-vertical-left .title-header {
        font-size: 3.0em;
    }
    
    .btn-responsive {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    
    .regular-text-white {
        font-family: inherit;
        line-height: 14pt;
        font-size: 12pt;
        color: white;
    }
    
    .regular-text-grey {
        font-family: inherit;
        line-height: 17pt;
        font-size: 14pt;
        color: rgba(24,24,24, 0.9)
    }
    
    .carousel-caption {
        bottom: 0px;
    }
} 

@media only screen and (min-width: 640px) {
    .skill-list {
        column-count: 2; 
        padding: 0 0 0 40px;
        column-width: 300px;
        -webkit-column-width: 300px; /* Chrome, Safari, Opera */
        -moz-column-width: 300px; /* Firefox */ 
    }
    
    .carousel-inner > .item {
       padding-left: 120px;
       padding-right: 120px;
    } 
}


@media only screen and (min-width: 1024px) {
    .modal-dialog {
        width: 1024px;
        height: auto;
    }
}

@media only screen and (max-width: 1024px) {
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 10px;
    }
}


.modal-header {
    background-color: rgba(240, 173, 78, 1.0);
    text-align: left;
    border-radius: 5px 5px 0 0;
}

.carousel-inner > .item > .img-responsive {
    width: 100%; /* This value will depend on what size you want for your loading image, let's say it's 50px */
    height: 100%;
    position: relative;
    /*left: 10%;*/
    /*margin-top:-25px; /* This needs to be half of the height */
    /*margin-left:-25px; /* This needs to be half of the width */
}

.modal-open, .modal, .modal-open .no-jump {
    overflow-y: scroll;
}

.header-buttons {
    margin-right: 2em;
}

.popover {
    font-size: 14pt;
    width: 120px;
    height: 50px;
    z-index: 9999;
    position: static;
    background: rgba(240, 173, 78, 1.0);
    border-radius: 0 !important;
    border: 0;
}

.popover.right .arrow:after {
    border-right-color: rgba(240, 173, 78, 1.0);
}

.title-header {
    color: #FFFFFF;
}

.title-subtext {
    color: rgb(232, 232, 232);
    line-height: 35px;
}

.regular-title-orange {
    color: rgba(240, 173, 78, 1.0);
    font-weight: bold;
}

.regular-title-white {
    color: white;
    font-weight: bold;
}

.regular-text-white {
    font-family: inherit;
    line-height: 21pt;
    color: white;
}

.regular-text-grey {
    font-family: inherit;
    line-height: 21pt;
    color: rgba(24,24,24, 0.9)
}

