/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
    padding-right: 0 !important;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
    font-size: 15pt;
}

.img-gallery {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 100%;
    height: auto;
}

.img-gallery:hover {
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}

.nav-padding {
    padding-left: 10px;
}

/* Change color of the active pill */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: rgb(119, 119, 119);
    color: rgb(24, 24, 24);
    border-radius: 0 0 0 0;
}

.nav-pills > li > a, .nav-pills > li > a:focus {
    border-radius: 0 0 0 0;
}

.nav-pills > li > a:hover {
    background-color: rgba(240, 173, 78, 1.0);
    color: rgb(24, 24, 24);
}

.background-box {
    display: inline-block;
    background-color: rgba(24,24,24,0.8);
    padding: 20px;
    /*margin-left: 9%;*/
    /*margin-right: 20%;*/
}

li.list {
    font-size: 15pt;
    line-height: 32pt;
}

.list-inline-mod {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.list-inline > li {
    padding: 10px;
}

a.text-link {
    color: rgb(119, 119, 119);
    font-weight: 400;
}

a.modal-link {
    color: rgb(119, 119, 119);
    font-weight: 400;
    font-size: 12pt;
}

.text-vertical-center {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.text-vertical-left {
    display: table-cell;
    text-align: left;
    vertical-align: bottom;
    padding-top: 35%;
    /*padding-left: 100px;
    padding-bottom: 100px;*/
}

.text-vertical-topleft {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding-top: 4%;
}

.text-vertical-left h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    /*color: #fff;*/
    background-color: rgba(0,0,0,0.4);
    /*color: rgb(119, 119, 119);*/
    color: rgb(232, 232, 232);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    /*color: #fff;*/
    color: rgba(240, 173, 78, 1.0);
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(119, 119, 119);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: rgba(240, 173, 78, 1.0);
    background-color: rgba(119, 119, 119, 0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    /*background: url(../images/garden.jpg) no-repeat center center scroll;*/
    background: linear-gradient(rgba(24,24,24, 0.9), rgba(24,24,24, .5)), url(../images/mesh.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;   
}

/* About */

.about, .contact {
    padding: 50px 0 120px 0;
    width: 100%;
    height: auto;
    background-color: rgba(24,24,24, 0.9);
}

/* skill */

.skill {
    padding: 50px 0 120px 0;
    width: 100%;
    height: auto;
    /*background-color: rgba(240, 173, 78, 1.0);*/
    background-color: rgb(232, 232, 232);
}

/* Prototype */
.prototype {
    position: relative;
    padding: 50px 0 120px 0;
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(24,24,24, 0.9), rgba(24,24,24, .5)), url(../images/blueprint.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;   
}

/* Coding */
.coding {
    position: relative;
    padding: 50px 0 120px 0;
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(24,24,24, 0.9), rgba(24,24,24, .5)), url(../images/codingbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;   
}

/* Portfolio */
.design {
    position: relative;
    padding: 50px 0 120px 0;
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(24,24,24, 0.9), rgba(24,24,24, .5)), url(../images/topviewdesk.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;   
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}


/* Footer */

footer {
    width: 100%;
    height: auto;
    background-color: rgb(232, 232, 232);
    padding: 30px 0 20px 0;
    text-align: center;
}

.footer-text {
    font-size: 10pt;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}